<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{#each posts as |value key|}}
                <article class="post">
                    <div class="post-thumb">
                        <a href="blog.html"><img src="http://via.placeholder.com/745x470" alt=""></a>

                        <a href="blog.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6><a href="#"> Travel</a></h6>

                            <h1 class="entry-title"><a href="blog.html">Home is peaceful place</a></h1>


                        </header>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tevidulabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                justo duo dolores rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                                ipsum dolor sit am Lorem ipsum dolor sitconsetetur sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et dolore maliquyam erat, sed diam voluptua.
                            </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="blog.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">By Rubel On February 12, 2016</span>
                            <ul class="text-center pull-right">
                                <li><a class="s-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="s-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="s-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="s-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="s-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                {{/each}}
            </div>
            <div class="col-md-4" data-sticky_column>
                <div class="primary-sidebar">
                    <aside class="widget about-me-widget">
                        <div class="about-me-img">

                            <div class="about-me-content text-center">
                                <img src="assets/images/me.png" alt="" class="img-me">

                                <h3 class="text-uppercase">Marla Jean Tarrant</h3>

                                <p>Marla is an aspiring blogger who loves all things beauty and travel.</p>
                            </div>
                        </div>
                        <div class="social-share">
                            <ul class="text-center text-center">
                                <li><a class="s-facebook" href="https://www.facebook.com/marlajean.tarrant"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="s-twitter" href="https://twitter.com/MarlaTarrant"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="s-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="s-linkedin" href="https://www.linkedin.com/in/marla-jean-tarrant-530735b0/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="s-instagram" href="https://www.instagram.com/marlajeantarrant/?hl=en"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="widget news-letter">
                        <h3 class="widget-title text-uppercase text-center">Get Newsletter</h3>

                        <form action="#">
                            <input type="email" placeholder="Your email address">
                            <input type="submit" value="Subscribe Now"
                                   class="text-uppercase text-center btn btn-subscribe">
                        </form>

                    </aside>
                    <aside class="widget">
                        <h3 class="widget-title text-uppercase text-center">Popular Posts</h3>

                        <div class="popular-post">


                            <a href="#" class="popular-img"><img src="http://via.placeholder.com/295x190" alt="">

                                <div class="p-overlay"></div>
                            </a>

                            <div class="p-content">
                                <a href="#" class="text-uppercase">Home is peaceful Place</a>
                                <span class="p-date">February 15, 2016</span>

                            </div>
                        </div>
                        <div class="popular-post">

                            <a href="#" class="popular-img"><img src="http://via.placeholder.com/295x190" alt="">

                                <div class="p-overlay"></div>
                            </a>

                            <div class="p-content">
                                <a href="#" class="text-uppercase">Home is peaceful Place</a>
                                <span class="p-date">February 15, 2016</span>
                            </div>
                        </div>
                        <div class="popular-post">


                            <a href="#" class="popular-img"><img src="http://via.placeholder.com/295x190" alt="">

                                <div class="p-overlay"></div>
                            </a>

                            <div class="p-content">
                                <a href="#" class="text-uppercase">Home is peaceful Place</a>
                                <span class="p-date">February 15, 2016</span>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget">
                        <h3 class="widget-title text-uppercase text-center">Featured Posts</h3>

                        <div id="widget-feature" class="owl-carousel">
                            <div class="item">
                                <div class="feature-content">
                                    <img src="http://via.placeholder.com/295x190" alt="">

                                    <a href="#" class="overlay-text text-center">
                                        <h5 class="text-uppercase">Home is peaceful</h5>

                                        <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feature-content">
                                    <img src="http://via.placeholder.com/295x190" alt="">

                                    <a href="#" class="overlay-text text-center">
                                        <h5 class="text-uppercase">Home is peaceful</h5>

                                        <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feature-content">
                                    <img src="http://via.placeholder.com/295x190" alt="">

                                    <a href="#" class="overlay-text text-center">
                                        <h5 class="text-uppercase">Home is peaceful</h5>

                                        <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget pos-padding">
                        <h3 class="widget-title text-uppercase text-center">Recent Posts</h3>

                        <div class="thumb-latest-posts">


                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="popular-img"><img src="http://via.placeholder.com/103x76" alt="">

                                        <div class="p-overlay"></div>
                                    </a>
                                </div>
                                <div class="p-content">
                                    <a href="#" class="text-uppercase">Home is peaceful Place</a>
                                    <span class="p-date">February 15, 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="thumb-latest-posts">


                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="popular-img"><img src="http://via.placeholder.com/103x76" alt="">

                                        <div class="p-overlay"></div>
                                    </a>
                                </div>
                                <div class="p-content">
                                    <a href="#" class="text-uppercase">Home is peaceful Place</a>
                                    <span class="p-date">February 15, 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="thumb-latest-posts">


                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="popular-img"><img src="http://via.placeholder.com/103x76" alt="">

                                        <div class="p-overlay"></div>
                                    </a>
                                </div>
                                <div class="p-content">
                                    <a href="#" class="text-uppercase">Home is peaceful Place</a>
                                    <span class="p-date">February 15, 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="thumb-latest-posts">


                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="popular-img"><img src="http://via.placeholder.com/103x76" alt="">
                                        <div class="p-overlay"></div>
                                    </a>
                                </div>
                                <div class="p-content">
                                    <a href="#" class="text-uppercase">Home is peaceful Place</a>
                                    <span class="p-date">February 15, 2016</span>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget border pos-padding">
                        <h3 class="widget-title text-uppercase text-center">Categories</h3>
                        <ul>
                            <li>
                                <a href="#">Beauty</a>
                                <span class="post-count pull-right"> (2)</span>
                            </li>
                            <li>
                                <a href="#">Style</a>
                                <span class="post-count pull-right"> (2)</span>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                                <span class="post-count pull-right"> (2)</span>
                            </li>
                            <li>
                                <a href="#">Travel</a>
                                <span class="post-count pull-right"> (2)</span>
                            </li>
                            <li>
                                <a href="#">Food</a>
                                <span class="post-count pull-right"> (2)</span>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget pos-padding">
                        <h3 class="widget-title text-uppercase text-center">Follow@Instagram</h3>

                        <div class="instragram-follow">
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/images/ins-flow.jpg" alt="">
                            </a>

                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>



<main class="container left-container">
    <div class="row">
        <div id="menu-target">
            <ul>
                <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                <li><i class="fa fa-building"></i><a href="/about">Developer's Workspace</a></li>
                <li><i class="fa fa-cube"></i><a href="/projects">Projects</a></li>
                <li><i class="fa fa-paper-plane"></i><a href="/contact">Contact</a></li>
            </ul>
            <hr>
            <ul>
                <li><i class="fa fa-globe"></i><a href="/projects/url-shortener">URL Shortener</a></li>
                <li><i class="fa fa-file"></i><a href="/projects/html-converter">HTML Converter</a></li>
            </ul>
            <hr>
            <ul>
                <li><i class="fa fa-github"></i><a href="https://github.com/developersworkspace">Github (developersworkspace)</a></li>
                <li><i class="fa fa-github"></i><a href="https://github.com/barend-erasmus">Github (barend-erasmus)</a></li>
            </ul>
        </div>
        <section class="sidebar col-md-5 col-sm-12" style="background-image: url(/static/img/default-sidebar.jpg">
            <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </span>
            <div class="site-info">
                <div class="primary-info">
                    <h1>Developer's Workspace</h1>
                    <p>Sharing Knowledge, Experiences and Ideas</p>
                </div>
            </div>
        </section>
        <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
            <div class="sub-nav">
                <a href="#" class="select-posts active">Posts</a>
            </div>
            <div class="home-page-posts animated fadeIn">
                {{#each posts as |value key|}}
                <article class="post">
                    <div class="post-preview col-xs-10  no-gutter">
                        <h2><a href="/post/{{value.key}}">{{value.title}}</a></h2>
                        <p>{{value.description}}</p>
                        <p class="meta">
                            <a href="#">{{value.author}} at {{value.displayTimestamp}}</a>
                            <br />
                            <span>{{value.linkedInShareCount}} LinkedIn Shares</span>
                        </p>
                    </div>
                    <div class=" col-xs-2  no-gutter">
                        <img src="{{value.authorImage}}" class="user-icon" alt="user-image">
                    </div>
                </article>
                {{/each}}
            </div>
            <footer class="split-footer">
                <a href="/about">About</a>
                <i class="link-spacer"></i>
                <a href="/">Developer's Workspace Pty Ltd 2017</a>
            </footer>
        </section>
    </div>
</main>


<div class="modal fade" id="authModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to Developer's Workspace</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size: 10px">The Pareto principle (also known as the 80/20 rule, the law of the vital few, or the principle of
                            factor sparsity) states that, for many events, roughly 80% of the effects come from 20% of the
                            causes. Management consultant Joseph M. Juran suggested the principle and named it after Italian
                            economist Vilfredo Pareto, who noted the 80/20 connection while at the University of Lausanne
                            in 1896, as published in his first paper, "Cours d'économie politique".</p>
                        <a href="/auth/google" class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>
                        <a href="/auth/linkedin" class="btn btn-block btn-social btn-linkedin"><i class="fa fa-linkedin"></i> Sign in with LinkedIn</a>
                        <a href="/auth/github" class="btn btn-block btn-social btn-github"><i class="fa fa-github"></i> Sign in with Github</a>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/chess.jpg" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Not Now</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/css/bootstrap-social.css">
<script>
    var user = '{{user}}';
    $(document).ready(function () {
        if (!user) {
            $('#authModal').modal('show');
        }
    });

</script>