<main class="container left-container">
    <div class="row">

        <div id="menu-target">
            <ul>
                <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                <li><i class="fa fa-building"></i><a href="/about">Developer's Workspace</a></li>
                <li><i class="fa fa-paper-plane"></i><a href="/contact">Contact</a></li>
            </ul>
            <hr>
            <ul>
                <li><i class="fa fa-github"></i><a href="https://github.com/developersworkspace">Github (developersworkspace)</a></li>
                <li><i class="fa fa-github"></i><a href="https://github.com/barend-erasmus">Github (barend-erasmus)</a></li>
            </ul>
        </div>

        <section class="sidebar col-md-5 col-sm-12" style="background-image: url(/static/img/default-sidebar.jpg">

            <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </span>

            <div class="site-info">
                <div class="primary-info">
                    <h1>Developer's Workspace</h1>
                    <p>Sharing Knowledge, Experiences and Ideas</p>
                </div>
            </div>
        </section>
        <!-- end sidebar -->

        <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <div class="sub-nav">
                <a href="#" class="select-posts active">Posts</a>
            </div>

            <div class="home-page-posts animated fadeIn">
                {{#each posts as |value key|}}
                <article class="post">
                    <div class="post-preview col-xs-10  no-gutter">
                        <h2><a href="/post/{{value.id}}">{{value.title}}</a></h2>

                        <p>{{value.short}}</p>

                        <p class="meta">
                            <a href="#">{{value.author}} at {{value.displayTimestamp}}</a>
                        </p>
                    </div>

                    <div class=" col-xs-2  no-gutter">
                        <img src="{{value.authorImage}}" class="user-icon" alt="user-image">
                    </div>
                </article>
                {{/each}}
            </div>
            <!-- Home page posts -->

            <footer class="split-footer">
                <a href="/about">About</a>
                <i class="link-spacer"></i>
                <a href="/">Developer's Workspace Pty Ltd 2017</a>
            </footer>

        </section>
        <!-- main content -->

    </div>
    <!--/row -->

</main>
<!-- /container -->