<header class="hero-image" role="banner" style="background-image: url(/static/img/default-single-hero.jpg);">

    <span class="menu-trigger animated fadeInDown">
                <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    </span>


    <div id="menu-target">
        <ul>
            <li><i class="fa fa-home"></i><a href="/">Home</a></li>
            <li><i class="fa fa-building"></i><a href="/about">Developer's Workspace</a></li>
            <li><i class="fa fa-paper-plane"></i><a href="/contact">Contact</a></li>
        </ul>
        <hr>
        <ul>
            <li><i class="fa fa-github"></i><a href="https://github.com/developersworkspace">Github (developersworkspace)</a></li>
            <li><i class="fa fa-github"></i><a href="https://github.com/barend-erasmus">Github (barend-erasmus)</a></li>
        </ul>
    </div>
</header>

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">
            <p class="meta">
                <a class="" href="#">{{post.author}}</a>
            </p>

            {{{post.body}}}

        </div>
        <!-- main-content/col -->
    </div>
    <!--/row -->

</main>
<!-- /container -->

<footer class="single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <img src="{{post.authorImage}}" class="user-icon " alt="user-image">
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="category-list">
                    <p>Published <span>{{post.dispayTimestamp}}</span></p>
                    <p><a href="#">{{post.author}}</a></p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-xs-12 col-sm-4">
                <div class="social">
                    <p>Share this article</a>
                        <div class="social-links">
                            <a class="social-icon" href="#" data-platform="linkedin" data-message="{{{post.title}}}"><i class="fa fa-linkedin"></i></a>

                            <a class="social-icon" href="#" data-platform="facebook" data-message="{{{post.title}}}"><i class="fa fa-facebook-official"></i></a>

                            <a class="social-icon" data-platform="mail" href="mailto:developersworkspace@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</footer>